---
layout: default
---


{% for post in paginator.posts | limit: 1%}
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8  col-sm-offset-2">
    {% if post.featured-image %}
      <img src="{{ post.featured-image}}"/>
    {% else %}
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    {% endif %}
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="post-content col-sm-8 col-sm-offset-2">
       {% if !post.featured-image %}
    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  {% endif %}
      {{ post.content }}
    </div>
  </div>
</div>
{% endfor %}
